.addEvents {
    padding-left: 3%;
    padding-right: 3%;
    font-size: 1.3em;
    /*display: none;*/
}

.body-container-own {
    margin-bottom: 10%
}

.panelHeader {
    font-size: 1.2em;
    font-weight: bold;
}

th {
    text-align: center;
}

.centraliseItem {
    position: relative;
    margin-left: 40%;
}

.buttonRight {
    float: right;
    position: relative;
    right: 3%;
}

.EditAttraction {
    border: none;
    float: right;
    background-color: white;
    height: auto;
    outline: none;
}

    .EditAttraction:hover {
        color: blue;
    }

.zeroOutline {
    outline: none;
    border: none;
}

    .zeroOutline:focus {
        outline: none !important
    }

.myPanelDetails {
    width: 40%;
    height: 88%;
    padding: 3%;
    border: 1px dotted black;
    border-radius: 10px;
    position: fixed;
    left: 30%;
    top: 6%;
    background-color: aqua;
    opacity: 1;
    z-index: 1031;
    box-shadow: 0px 0px 0px 500px rgba(0, 0, 0, 0.5);
    animation-name: animatetop;
    animation-duration: 1s;
}

@-webkit-keyframes animatetop {
    from {
        top: -100px;
        opacity: 0
    }

    to {
        top: 6%;
        opacity: 1
    }
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
}