.addEvents {
    padding-left: 3%;
    padding-right: 3%;
    font-size: 1.3em;
    /*display: none;*/
}

.body-container-own {
    margin-bottom: 10%
}

.panelHeader {
    font-size: 1.2em;
    font-weight: bold;
}

th {
    text-align: center;
}

.centraliseItem {
    position: relative;
    margin-left: 40%;
}

.buttonRight {
    float: right;
    position: relative;
    right: 3%;
}

.EditAttraction {
    border: none;
    float: right;
    background-color: white;
    height: auto;
    outline: none;
}

    .EditAttraction:hover {
        color: blue;
    }

.zeroOutline {
    outline: none;
    border: none;
}

    .zeroOutline:focus {
        outline: none !important
    }
