/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    min-height:100vh;
    position:relative;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
/* Override */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 120px;
    right: -15%;
    text-align: center;
    background-color: #101010;
    z-index: 1;
}


.hiddenText {
    color: #9d9d9d;
}


.shoppingCart {
    font-size: 10em;
}

.fileText {
    font-size: 10em;
}

.leaveSpace {
    margin-bottom: 2%;
}

@media only screen and (max-width:600px) {
    .shoppingCart {
        font-size: 6em;
    }

    .fileText {
        font-size: 6em;
    }

    .leaveSpace {
        margin-bottom: 10%;
    }
}

.hideItems:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #9d9d9d;
    text-decoration: none;
    display: block;
    padding: 6px;
}

    .dropdown-content a:hover {
        background-color: red;
        color: white;
        text-decoration: none;
    }

#ShoppingLogo {
    width: 100px;
}

.planIcons {
    font-size: 10em;
}

.input-group {
    margin-top: 4%;
}

footer {
    position: absolute;
    bottom: 0;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
}

.body-container-own {
    margin-bottom:10%
}